<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=“https://cdn.tailwindcss.com”></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <title>Sign-in</title>
</head>
<body>
  {{{body}}}
</body>
//practice to work on
{{! Path: Develop/views/layouts/main.handlebars }}
{{#if logged_in}}
<a href="../homep.handlebars">Home</a> |
<button class="no-button" id="logout">logout</button>
{{else}}
<a href="../layouts/main.handlebars">login</a>
{{/if}}
</nav>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="../public/js/login.js"></script>
</html>